<!DOCTYPE html>
<html>
  <head>
    <title>Session Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="/login">Login</a>
    <a href="/secret">Secrets</a>
    
  </body>
</html>
